<div class="ugk_header">
    <div>
        <h1 class="ugk_header_logo">UGK</h1>
    </div>
    <div class="ugk_header_menu">
        <span>nav1</span>
        <span>nav2</span>
        <span>nav3</span>
        <!--22강 // 10번 라인 : 유저가 로그인 되지 않았다면 12번 라인에 있는 로그인을 보여주고,       -->
        {% if not user.is_authenticated %}
        <a href="{% url 'accountapp:login' %}?next={{ request.path }}">
            <span>login</span>
        </a>
        <a href="{% url 'accountapp:create' %}">
            <span>SignUp</span>
        </a>
        <!--22강 // 15번 라인 : 유저가 로그인 되지 않았다면 17번 라인에 있는 로그아웃을 보여줘라        -->
        {% else %}
        <a href="{% url 'accountapp:detail' pk=user.pk %}">
            <span>MyPage</span>
        </a>
        <a href="{% url 'accountapp:logout' %}?next={{ request.path }}">
            <span>logout</span>
        </a>
        {% endif %}
    </div>
</div>